<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Facebook_BusinessExtension::facebook" title="Facebook Business Extension" sortOrder="51">
                    <resource id="Facebook_BusinessExtension::system_config" title="Setup" sortOrder="99" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
