<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <facebook>
            <catalog_management>
                <collections_sync>1</collections_sync>
            </catalog_management>
            <inventory_management>
                <inventory_source>default</inventory_source>
            </inventory_management>
        </facebook>
    </default>
</config>
