<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <facebook>
            <catalog_management>
                <catalog_sync>1</catalog_sync>
            </catalog_management>
            <inventory_management>
                <out_of_stock_threshold>0</out_of_stock_threshold>
            </inventory_management>
        </facebook>
    </default>
</config>
