<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="facebook" translate="label" sortOrder="1000">
            <label>Facebook</label>
        </tab>
        <section id="facebook_business_extension" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Business Extension</label>
            <tab>facebook</tab>
            <resource>Facebook_BusinessExtension::system_config</resource>
            <group id="catalog_management" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Catalog Management</label>
                <field id="product_feed" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Push Products</label>
                    <frontend_model>Facebook\BusinessExtension\Block\Adminhtml\System\Config\ProductFeed</frontend_model>
                </field>
                <field id="category_feed" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Push All Categories to Facebook Catalog</label>
                    <frontend_model>Facebook\BusinessExtension\Block\Adminhtml\System\Config\CategoryFeed</frontend_model>
                </field>
                <field id="catalog_sync" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Catalog Sync</label>
                    <config_path>facebook/catalog_management/catalog_sync</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Turns on/off catalog synchronization and incremental product uploads to Facebook</comment>
                </field>
            </group>
            <group id="inventory_management" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Inventory Management</label>
                <field id="out_of_stock_threshold" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Out-of-Stock Threshold</label>
                    <config_path>facebook/inventory_management/out_of_stock_threshold</config_path>
                    <comment>Product's availability will be out of stock if inventory count is lower than the specified threshold value</comment>
                </field>
            </group>
        </section>
    </system>
</config>
